**Program 1**: Write a program to prompt the user for hours and rate per hour to compute gross pay. However, the employees who worked above 40 hours were given 1.5 times the hourly rate for individual hours

In [ ]:
hours = int(input("Enter hours: ")) #45
rph = int(input("Enter rate per hour: ")) #10
p = 40 * rph #400
p1 = hours * rph
if hours > 40:
  payment = (hours - 40) * 1.5 * 10
  gross_pay = payment + p
  print("Total: ", gross_pay)
else:
  print("Total: ", p1)

Enter hours: 45
Enter rate per hour: 10
Total:  475.0

**Program 2:**
A school has the following rules for the grading system:


*   a. Below 25 - F
* b. 25 to 45 - E
* c. 45 to 50 - D
* d. 50 to 60 - C
* e. 60 to 80 - B
* f. Above 80 - A

Ask the user to enter marks and print the corresponding grade

In [ ]:
marks = int(input("enter the marks: "))

if marks < 25:
  print("F")
elif marks > 25 and marks <= 45:
  print("E")
elif marks > 45 and marks <= 50:
  print("D")
elif marks > 50 and marks <= 60:
  print("C")
elif marks > 45 and marks <= 50:
  print("B")
else:
  print("A")

enter the marks: 50
D

**Program 3:** A shop will give a discount of 10% if the cost of the purchased quantity is more than 1000. Ask the user for quantity Suppose, one unit will cost 100.
Judge and print the total cost for the user.

In [ ]:
unit_cost = 100
quantity = int(input("Enter the quantity: "))
total_cost = quantity * unit_cost

if total_cost > 1000:
    total_cost = total_cost * (1 - 0.1)

print(f"The total cost is: {total_cost}")

Enter the quantity: 102
The total cost is: 9180.0

**program 4**
Take two int values from the user and print the greatest among them

In [ ]:
a = int(input("Enter a number: "))
b = int(input("Enter a number: "))

if a > b:
  print(a)
else:
  print(b)

Enter a number: 10
Enter a number: 2
10

In [ ]:
salary = float(input("Enter your salary: "))
years = int(input("Enter your years of service: "))
bonus = 0
if years > 5:
    bonus = 0.05 * salary
    total_salary = salary + bonus

print(f"The net bonus amount is: {bonus}")
print(f"The net salary amount is: {total_salary}")

Enter your salary: 1000
Enter your years of service: 6
The net bonus amount is: 50.0
The net salary amount is: 1050.0

**Program** student will not be allowed to sit in an exam if his/her attendance is less than 75%. Take the following input from the user:
Number of classes held
The number of classes attended

and print the percentage of classes attended. Is the student allowed to sit
in an exam or not?

In [ ]:
class_korse = int(input("koyta class korso?: "))
class_koyta = int(input("class koyta hoise?: "))
attendence = class_korse / class_koyta
if attendence >= 0.75:
  print("exam dite parbe")
else:
  print("exam dite parbena")

print("tar percentage: ", attendence)

koyta class korso?: 4
class koyta hoise?: 5
exam dite parbe
tar percentage:  0.8

In [ ]:
class_korse = int(input("Nuzhat, koyta class korso?: "))
class_koyta = int(input("class koyta hoise?: "))
medical = str(input("tomar medical issues ase?: "))
attendence = class_korse / class_koyta
if attendence >= 0.75:
  print("exam dite parbe")
else:
  print("exam dite parbena")
  if medical == "ha":
    print("somssha ase")
  elif medical == "na":
    print("Somossha nai")

print("tar percentage: ", attendence)

Nuzhat, koyta class korso?: 4
class koyta hoise?: 10
tomar medical issues ase?: ha
exam dite parbena
somssha ase
tar percentage:  0.4

Sort three numbers in ascending and descending order using conditional
statements.

In [ ]:
a = int(input())
b = int(input())
c = int(input())

if a>b and b>c:
  print(a, ">", b , ">", c)
elif b>a and a>

2
3
4

In [ ]:
4